body
{
  background-color: #212121;
  align-items: left;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



#barra
{
  background-color:#d63f3f; 
  height: 8px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
}

 .logoinicio
 {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #ffffff00;
    background-color: #00000028;
    box-shadow: 15px 60px 75px;
    border-radius: 50px;
 
 } 

 
 .button {
    background-color: #ffffff;
    border: none;
    color: rgba(255, 255, 255, 0);
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left :180px;

  }
  
  .button1 {
    background-color: #d63f3f;  
    color: rgb(255, 255, 255); 
    border-radius: 10px;
    
  }

  .boton{
    background-color: #ffffff; 
    border: none;
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left :175px 
  }
  


  
  .button1:hover {
    background-color: #ff000081;
    color: white;
    border-radius: 30px;
    
  }
  
  .button2 {
    background-color: #d63f3f; 
    color: rgb(255, 255, 255); 
    border-radius: 10px;
  }
  
  .button2:hover {
    background-color: #ff000081;
    color: white;
    border-radius: 30px;
  }
  
  .button3 {
    background-color: #d63f3f; 
    color: rgb(255, 255, 255); 
    border-radius: 10px;
  }
  
  .button3:hover {
    background-color: #ff000081;
    color: white;
    border-radius: 30px;
  }


  .button3 {
    background-color: #d63f3f; 
    color: rgb(255, 255, 255); 
    border-radius: 10px;
  }
   
  .button4 {
    background-color: #d63f3f; 
    color: rgb(255, 255, 255); 
    border-radius: 10px;
  }
  
  .button4:hover {
    background-color: #ff000081;
    color: white;
    border-radius: 30px;
  }

  
  .container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); 
    background: #00000073; 
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }


.container
{
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
}

.container .box
{
  position: relative;
  width: 300px;
  height: 300px;
  background: #00eeff98;
  margin: 10px;
}

.container .box .imgbox
{
  position: relative;
  overflow: hidden ;
}

.container .box .imgbox img
{
  max-width: 100%;
  transition: transform 3s;
}

.container .box:hover .imgbox img
{
  max-width: 100%;
  transition: transform 2s;
  transform: scale(1.4);
}

.container .box .detalles
{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom:10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.658);
  border-radius: 20px;
  transform: scaleY(0);
  transition: transform .5s;

}
.container .box:hover .detalles
{
  transform: scaleY(1);


}

.container .box .detalles .contenido
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #ffffff;

}

.container .box .detalles .contenido h2
{
  margin:0;
  padding: 0;
  font-size: 25px;
  color: #ffffff;
}

.container .box .detalles .contenido p
{
  margin:10px 0 0;
  padding: 0;
  font-size: 17px;
  color: #ffffff;
}

footer{
  position: absolute;
  bottom: -9800px;
  left: -1px;
  right: -290px;
  background: rgb(172, 53, 53);
  height: auto;
  width: 99vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 800px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: rgb(255, 0, 0);
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: rgb(102, 255, 0);
}

.footer-bottom{
  background: #000;
  width: 99vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

#jazz
{
  margin-bottom: 7%;
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #d63f3f; 
  
}



.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #d63f3f; 
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #d63f3f; 
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #d63f3f; 
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #d63f3f; 
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #d63f3f; 
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #d63f3f; 
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #d63f3f; 
}

#jazz2

{
   margin-bottom: 10%;
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-align: center;

}

.audio
{
  align-items: center;
  display: flex;
  margin-left: -32%;
  margin-top: 4%;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  min-height: 100vh;
 
}
.about{
  background: url(imagenes/NOSOTROS/res2.jpg) no-repeat left;
  background-size: 120%;
  overflow: hidden;
  padding: 190px 200px;
  margin-top: -10%;
}
.inner-section{
  width: 95%;
  float: right;
  background-color: #fefff8;
  padding: 70px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.411);
  margin-right: 40%;
}
.inner-section h1{
  margin-bottom: 20px;
  font-size: 37px;
  font-weight: 900;
}

#Nosotros
{
  font-size: 65px;
  font-weight: bold;
  margin-top: 12%;
}

#Nosotros2
{
  font-size: 65px;
  font-weight: bold;
  margin-left: -5%;
  margin-top: 25%;
  color: white;
}

.text{
  font-size: 20px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
  font-weight: lighter;
}

#headermision

 {
  font-size: 55px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
 }

 #mision1

 {
  font-size: 25px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-style: oblique;
  font-weight: lighter;
  text-align: justify;
  padding :25px;


 }

.videodenosotros
{
  width: 990px;
  height: 580px;
}


.wrapper{
  width: 1150px;
  margin:100px auto;
  align-items: center;
  }
  .title{
  text-align:center;
  margin-bottom:120px;
  
  }
  .title h4{
  text-transform:capitalize;
  font-size:30px;
  position:relative;
  display:inline-block;
  padding-bottom:17px;
  margin-left: -13%;
  
  }
  .title h4 span{
  display:block;
  font-size:18px;
  font-style:italic;
  margin-bottom:20px;
  background-color:rgba(255, 0, 0, 0.555);
  font-size: 30px;
  font-weight: lighter;
  
  }
  .title h4:before{
  position:absolute;
  content:'';
  width:100px;
  height:2px;
  background-color:#ffffff;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  
  }
  .menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-left: -15%;
  
  }
  .single-menu{
  flex-basis:580px;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid rgba(255, 0, 0, 0.555);
  
  }
  .single-menu:nth-child(5), .single-menu:nth-child(6){
  border-bottom:0;
  
  }
  .single-menu{
  display:flex;
  flex-direction:row;
  align-items:center;
  
  }
  .single-menu:hover img{
  border-radius:0;
  
  }
  .single-menu img{
  max-width:180px;
  margin-right:30px;
  border-radius:50%;
  border:1px solid #ddd;
  padding:3px;
  transition:.5s;
  
  }

  .menu-content
  {
    font-size: 20px;
    font-weight: lighter;
  }
  .single-menu h4{
  text-transform:capitalize;
  font-size:22px;
  border-bottom:1px dashed #333;
  margin-bottom:5px;
  padding-bottom:5px;
  
  }
  .single-menu h4 span{
  float:right;
  color:#ffffff;
  font-style:italic;
  background-color:rgba(255, 0, 0, 0.555);
  }

  .map
{
  width: 1490px;
  border: 3px solid #d63f3f;
  height: 600px;

}


.mapa
{
  margin-left: -25%;
}

.contenedordecontacto{
  text-align: center;
  margin-top: 60px;
  margin-left: 245px;
}
.btn{
  border: 5px solid rgb(172, 53, 53);
  background: none;
  padding: 10px 80px;
  font-size: 70px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 70px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  display: flex;
  margin-left: -25px;
}
.btn1,.btn2{
  color: #ffffff;
}

.btn1:hover,.btn2:hover{
  color: #fff;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(172, 53, 53);
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before,.btn2:hover::before{
  height: 190%;
}


.anuncio
{
  align-items: center;
  margin-left: 180px;
  padding: 70px;
}

.form button{
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  border-radius: 20px;
  padding: 30px;
  width: 450px;
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding-top: 50px;
  margin-top: 3%;
  margin-left: 65%;
}

.form button:hover{
  transition: 0.5s;
  background-color: #2c2f49;
  color: #ffffff;
  
}

.aboutv2{
  background: url(IMAGENES/CONTACTO/res.jpg) no-repeat left;
  background-size: 120%;
  overflow: hidden;
  padding: 190px 200px;
  margin-top: 10%;
}
.inner-sectionv2{
  width: 95%;
  float: right;
  background-color: #fefff8;
  padding: 70px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.411);
  margin-right: 40%;
  font-size: 20px;
}
.inner-sectionv2 h1{
  margin-bottom: 20px;
  font-size: 67px;
  font-weight: 900;
}

section {
  height: 95vh;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-bottom: -220%;

}
.containerdeform{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;

}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(11, 166, 255);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}

button[type="reset"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(247, 27, 27);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="reset"]:hover {
  background-color: rgb(119, 0, 0);
  color: white;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

#Nosotrosform
{
  font-size: 35px;
  font-weight: lighter;
  margin-left: 31%;
  margin-top: 25%;
  color: white;
  margin-top: -10%;
}
